<table id="all-table">
  <thead>
    <tr>
      <th>Events</th>
      <th>Date</th>
      <th>Difference</th>
    </tr>
  </thead>
  <tbody class="hover zebra">
    <% @dates.each do |date| %>
      <tr>
        <td><%= date[:event] %></td>
        <td><%= date[:date].strftime('%a, %b %d') %></td>
        <% if @today > date[:date] %>
          <td><%= day_difference_to_words((@today - date[:date]).to_i) %></td>
        <% else %>
          <td><%= day_difference_to_words((date[:date] - @today).to_i) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
