<div class="footer navbar-fixed-bottom">
  <footer class="footer">
        <div class="container">
          <p class="text-muted">Copyright &copy; Taylor Stib 2015</p>
        </div>
  </footer>
</div>