    <form action="/date" method="post">
      <div class="row">
        <div class="col-xs-4 col-lg-2">
          <label for"month">Month: </label>
          <input type="text" name="month" class="form-control" placeholder="Month" autofocus='true' >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-lg-2">
          <label for="day">Day: </label>
          <input type="text" class="form-control" placeholder="Day" name="day">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-lg-2">
          <label for="year">Year: </label> 
          <input type="text" class="form-control" name="year" placeholder="year"><br>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Calculate!</button>
    </form><br><br>