<%= erb :navpartial %>

    <h1>Welcome to the Date Calculator</h1>
    <h3>A super simple, (and maybe not that useful), Sinatra wep app</h3>

    <%= erb :formpartial %>
    <%= erb :instruction %>

  </div> <!-- end of the container div -->

  <%= erb :footerpartial %>

  </body>
</html>