<html>
<head>
  <title>Date Calculator</title>
</head>
<body>
    <header>
      <a href="/">Home</a>
      <a href="/days/600">Calc</a>
    </header>
    <h1>Welcome to the Date Calculator</h1>

    <h3>Find the number of days between specified date and today</h3>
    <form action="/date" method="post">
      <label for"month">Month: </label>
      <input type="text" name="month"><br>
      <label for="day">Day: </label>
      <input type="text" name="day"><br>
      <label for="year">Year: </label> 
      <input type="text" name="year"><br>
      <input type="submit" value="Calculate">
    </form>

  </body>
</html>