
    <h1>Welcome to the Date Calculator</h1>
    <h3 class='light'>A super simple, (and maybe not that useful), Sinatra wep app</h3><br>
    
    <p>If you have a <b>date</b> and want to know the number of <b>days between today and that date</b>, go <a class= 'front-links' href="/date">Here</a></p>
    <p>If you want to know what date it was a <b>specific number</b> of days ago, go <a class= 'front-links' href="/days">Here</a></p>

    <h3>Today is <%= @today.strftime('%a, %b %d, %Y') %></h3>
    <h3></h3>
    <h3></h3>
