<div class="row">
  <div class="col-xs-12 col-lg-10 col-lg-push-1">
    <div class="card depth-5 bg-subtle">
      <p>Of course you can always use the URL API to enter a date or number of days directly.</p>
      <p>Useage for date difference goes like this: <br>
      .com/<code>date/'month'/'day'/'year'</code><br> where the quoted strings should be a number.</p>

      <p>Usage for finding a date based on a number goes like this:<br>.com/<code>days/'number'</code><br>and put in an actual number instead of 'number'</p>
      <p>To find date in the future, enter a negative number into the form</p>
    </div>
  </div>
</div>