/*Custom Styles*/

.front-links{
  font-weight: bold;
  color: blue;
  font-size: 20px;
}

.light{
  color: #bbb;
}

td{
  font-family: 'Roboto', sans-serif;
}

table.hover > *,
table .hover > * {
  transition: none;
}

table.hover > *:hover,
table .hover > *:hover {
  background: #ccc;
}
