/*Custom Styles*/

.front-links{
  font-weight: bold;
  color: blue;
  font-size: 20px;
}

.light{
  color: #bbb;
}

th{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
td{
  font-family: 'Roboto', sans-serif;
}

.bolder{
  font-weight: 700;
}

button a:hover {
  text-decoration: none;
}

#all-table tr.bg-blue-grey {
  background-color: rgba(96, 125, 139, 0.5);
}

tr.bg-yellow {
  color: black
}